/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 26, 2022, 8:13:12 PM
    Author     : XPC
*/
/*
content-box: toma en cuenta contenido, borde y padding para el calculo de la caja
border-box: modifica valores de contenido para que coincida con nuestro ancho y alto
*/

.bloque{
    background-color: purple;
    padding:50px;
    border: 5px solid blue;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    /* box-sizing: content-box;*/
    margin:auto;
}
.static{
    position:static; /*no se afecta por left, right, top*/
    border:3px solid green;
    top:400;
    right:50px;
}
.relative{
    /*afectado por otros modificadores, mueve lo que este para poder posicion*/
   
    position:relative;  
    border:3px solid green;
    top:400px;
    left:50px;
    width: 500px;
    height:400px;
}
.fixed{
    /*afectado por posicionamiento, se posiciona basado en la vista del usuario    */
    position: fixed;
    border:3px solid green;
    top:150px;
    left:50px;
}

.absolute{
    /*se posiciona donde le dijimos pero no se desplaza
        se ubica dependiendo si estuviera dentro de otro div
    */
    position: absolute;
    border:3px solid green;
    top:80px;
    left:50px;
    width:200px;
    height:100px;
}