/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 4, 2022, 9:21:16 AM
    Author     : XPC
*/

.navbar{
    height:10vh;
    width:100%;
    display:flex; /*como se va alinear dentro caja - */
    align-items: center;
    background-color: black;
    position:fixed;
    border-color: white;
    z-index: 2;
}
.logo{
    width:110px;
    cursor:pointer;
    padding-left: 100px;
}
.login{
    width: 20%;
    padding-left: 140px;
}
.login ul li a{ /*estilo del boton login*/
    cursor:pointer;
}
div{
    height: 15vh;
}
nav ul li { /*menu del centro*/
    display: inline-block;
    list-style:none;/*elimina los bullets*/
    margin:0px 30px; /*espacio entre objetos*/
    padding-left: 60px;
    padding-right: 50px;
}
nav ul li a:hover,a:focus {
    background-size: 100% 2px;
    transition: background-size .5s;
    color:green;
}
nav ul li a{
    font-size: 20px;
    color:white;
    text-decoration: none; /*quitar subrayado*/
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
body{
    margin: 0px;
    background-image: url(../images/italy.jpg);
    background-attachment: fixed;
}/*hasta aqui el navbar*/

.container{
    max-width: 100%;
    background-color: black;
    border-bottom-color: black;
    padding:0px;
    position: relative;
}
.homeContent div{ /*agrupacion img y txt*/
    display:flex;
    color:black;
    padding-bottom: 300px;
    padding-left:250px;
}
.homePics { /*fotos*/
    height: 350px;
    width: 30%;
    padding-top: 16px;
}
.homeContent div p{ /*text*/
    border-left: 200px;
    width:50%;
    height: 350px;
    color:white;
    background: black;
    filter: blur(15px);
    background-attachment: fixed;
    z-index: 1;
}

.txt_photos{
    color:white;
    position: unset;
    background-attachment: fixed;
    z-index: 9;
}
